<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:title" content="ChatMate">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/public/cm.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/app/app.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/public/favicon.ico">
    <title>ChatMate - Connect Instantly</title>
</head>

<body>
    <div id="app-root" data-page="index"></div>
    <script type="module" src="/app/app.js"></script>
</body>

</html>
