<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title tiles:fragment="title">Register - ChatMate</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/default.css}" />
  <link type="text/css" rel="stylesheet" th:href="@{/css/forms.css}" />
  <link type="text/css" rel="stylesheet" th:href="@{/css/notifications.css}" />
  <link rel="stylesheet" href="/app/app.css" />
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/public/favicon.ico}">
</head>

<body>
  <div id="app-root" data-page="register"></div>
  <script type="module" src="/app/app.js"></script>
</body>

</html>
